<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>A Day at the Zoo</h1>
      <p>Today I went to the zoo.</p>
      <p>I saw a(n) @Model.Noun jumping up and down in its tree.</p>
      <p>He @Model.Verb @Model.Adverb through the large tunnel that led to its @Model.Adjective @Model.Noun2.</p>
      <p>I got some peanuts and passed them through the cage to a gigantic gray @Model.Noun3 towering above my head. Feeding that animal made me hungry.</p>
      <p>I went to get a @Model.Adjective2 scoop of ice cream.</p> 
      <p>Afterwards I had to @Model.Verb2 @Model.Adverb2 to catch our bus.</p>
      <p>When I got home I @Model.Verb3 my mom for a @Model.Adjective3 day at the zoo. @Model.Exclamation!</p>
    </div>
  </body>
</html>